<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/index" [routerLinkActive]="['active']" class="list-group-item">
            <i class="fas fa-folder-open"></i>
            <span>{{ 'Index' | translate }}</span>
        </a>
        <a routerLink="/properties" [routerLinkActive]="['active']" class="list-group-item">
            <i class="fas fa-home"></i>
            <span>{{ 'Properties' | translate }}</span>
        </a>
        <a [routerLink]="['/lessees']" [routerLinkActive]="['active']" class="list-group-item">
            <i class="fas fa-house-user"></i>
            <span>{{ 'Lessees' | translate }}</span>
        </a>
        <a [routerLink]="['/renters']" [routerLinkActive]="['active']" class="list-group-item">
            <i class="fas fa-id-card"></i>
            <span>{{ 'Renters' | translate }}</span>
        </a>
        <a (click)="onLoggedout()" class="list-group-item">
            <i class="fa fa-fw fa-power-off"></i>
            <span>{{ 'Log Out' | translate }}</span>
        </a>
    </div>

    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>