<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/home"  [routerLinkActive]="['active']" class="list-group-item" >
            <i class="fas fa-home"></i>
            <span>Home</span>
        </a>
         <a [routerLink]="['/lessees']" [routerLinkActive]="['active']" class="list-group-item">
            <i class="fas fa-chart-line"></i>
            <span>Lessees</span>
        </a>
        <a [routerLink]="['/renters']" [routerLinkActive]="['active']" class="list-group-item">
            <i class="fas fa-table"></i>
            <span>Renters</span>
        </a>
    </div>

    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>Collapse Sidebar</span>
    </div>
</nav>