@import '../../../../assets/scss/variables';

.sidebar { position: fixed; top: 56px; left: 235px; width: 235px; margin-left: -235px; margin-bottom: 48px; border: none; border-radius: 0; overflow-y: auto; background-color: $mainBg; bottom: 0; padding-bottom: 40px; white-space: nowrap; z-index: 1000; transition: all 0.2s ease-in-out; 
    .list-group { transition: all 0.2s ease-in-out;
        &-item { background-color: $mainBg; border: 1px solid transparentize($color: #000000, $amount: 0); border-bottom: 3px solid transparentize($color: #000000, $amount: 0); color: $grey; text-decoration: none; border-radius: 0;
            &:first-child { border-top: 1px solid transparent; }
            &:last-child {border-bottom: 5px solid transparentize($color: #000000, $amount: 0); }
            &:hover { color: white; background-color: #333; }
            
            i { margin-right: 10px; }
        }

        &-item.active { color: white; background-color: #333; border-left:5px solid white; }

    }
}

.toggle-button { position: fixed; width: 235px; cursor: pointer; padding: 12px; bottom: 0; color: $grey; background-color: $mainBg; border-top: 1px solid $grey; transition: all 0.2s ease-in-out;
    i { font-size: 23px; }
    &:hover { background-color: #333; color: white; }
}

.collapsed { width: 60px;
    span { display: none; }
}

@media screen and (max-width: 992px) {
    .sidebar { top: 54px; left: 0px; }
}

@media print {
    .sidebar { display: none !important; }
}