@import '../../../../assets/scss/variables';

.sidebar { position: fixed; top: 56px; left: 235px; width: 235px; margin-left: -235px; margin-bottom: 48px; border: none; border-radius: 0; overflow-y: auto; background-color: $mainBg; bottom: 0; padding-bottom: 40px; border-top: 1px solid $grey; white-space: nowrap; transition: all 0.2s ease-in-out; }

.toggle-button { position: fixed; width: 236px; cursor: pointer; padding: 12px; bottom: 0; color: $grey; background: #212529; border-top: 1px solid $grey; transition: all 0.2s ease-in-out;
    i { font-size: 23px; }
    &:hover { background: darken($mainBg, 5%); color: #fff; }
}

.collapsed { width: 60px;
    span { display: none; }
}

@media screen and (max-width: 992px) {
    .sidebar { top: 54px; left: 0px; }
}

@media print {
    .sidebar { display: none !important; }
}