<nav class="sidebar">
    <div class="sidebar__menuList">
        <a routerLink="/home" class="sidebar__menuList_item" >
            <i class="fas fa-home"></i>
            <span>Home</span>
        </a>
         <a [routerLink]="['/lessee']" class="sidebar__menuList_item">
            <i class="fas fa-chart-line"></i>
            <span>Lessee</span>
        </a>
        <a [routerLink]="['/renter']" class="sidebar__menuList_item">
            <i class="fas fa-table"></i>
            <span>Renter</span>
        </a>
    </div>
</nav>