<section class="reset" fxLayout="row" fxLayoutAlign="center center">
    <div class="reset__form">
        <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <div class="reset__form-logo" fxLayoutAlign="center">
                <mat-icon>memory</mat-icon>
                <span>iLocação</span>
            </div>

            <div class="reset__form-title">
                <h2>Reset your password</h2>
            </div>

            <mat-form-field class="reset__form-item" appearance="legacy">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="email@email.com" formControlName="email">
                <mat-icon matSuffix color="primary">email</mat-icon>
                <mat-error *ngIf="f.controls.email.errors">Must have a valid e-mail</mat-error>
            </mat-form-field>

            <div class="reset__form-actions" *ngIf="!(isLoading$ | async)">
                <a mat-stroked-button color="primary" [routerLink]="['/login']">Return</a>
                <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Send</button>
            </div>

            <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
        </form>
    </div>
</section>