@import '../../../../assets/scss/variables';
@import url('https://fonts.googleapis.com/css?family=Sen:800&display=swap');

:host {
    .navbar { background-color: $primary; 
        .navbar-brand { padding: 2px 20px; background-color: white; color: $primary; border-radius: 10px; text-decoration: none; font-size: 1.5rem;
            span { font-family: 'Sen', sans-serif; }
        }
        .navbar-toggler, .nav-item > a { color: white; }
    }   
}
