<header>
    <nav class="navbar navbar-expand-lg fixed-top">
        <a class="navbar-brand" routerLink="/">
            <span>iLocação</span>&nbsp;
            <i class="fab fa-galactic-senate"></i>
        </a>

        <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="nav ml-auto">
                <li class="nav-item dropdown" ngbDropdown>
                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                        <i class="fa fa-language"></i>
                        {{ 'Language' | translate }}
                    </a>
                    <div class="dropdown-menu-right" ngbDropdownMenu>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('en')">
                            {{ 'English' | translate }}
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('pt')">
                            {{ 'Portuguese' | translate }}
                        </a>
                    </div>
                </li>

                <li class="nav-item dropdown" ngbDropdown>
                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                        <i class="fa fa-user"></i> {{ 'UserName' | translate }}
                    </a>
                    <div class="dropdown-menu-right" ngbDropdownMenu>
                        <a class="dropdown-item" [routerLink]="['/account']">
                            <i class="fa fa-user"></i> {{'Account' | translate}}
                        </a>                    
                        <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
                            <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}
                        </a>
                    </div>
                </li>

            </ul>
        </div>

    </nav>

</header>