@import '../../../../../assets//scss/utilities';
@import '../../../../../assets/scss/variables';

.header {
    &__title, &__filter { flex: 1; max-width: 300px; }
    mat-card-title { font-size: 1.2rem; }
    mat-form-field{ width: 100%;}
}

.data { position: relative; overflow: auto;
    &__table { width: 100%; 
        .mat-header-cell { background-color: $primary; color: white; text-transform: uppercase; font-size: 0.9rem; border: 1px solid $primary; }
        ::ng-deep .mat-sort-header-arrow { color:  white; }       
        &-actions { display: flex; } 
    }
}