<div class="row">
    <div class="col-12 pt-3">
        <p>Lista de todos os locatários ativos no sistema.</p>
    </div>

    <div class="rentersList col-12 table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let renter of renters">
                    <th scope="row">{{renter.payload.doc.data().name}}</th>
                    <th>{{renter.payload.doc.data().email}}</th>
                    <th>{{renter.payload.doc.data().contacts[0].phone}}</th>
                    <th>
                        <a class="btn btn-primary" [routerLink]="renter.payload.doc.id">
                            <i class="fas fa-search-plus"></i>&nbsp;&nbsp;Ver Detalhes
                        </a>
                        <a class="ml-3 btn btn-danger" style="color: white;"
                            [hidden]="renter.payload.doc.data().completed" (click)="deleteRenter(renter)">
                            <i class="fas fa-user-times"></i>&nbsp;&nbsp;Remover
                        </a>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>