<section class="login" fxLayout="row" fxLayoutAlign="center center">
    <div class="login__form">
        <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="login__form-logo" fxLayoutAlign="center">
                <mat-icon>memory</mat-icon>                
                <span>iLocação</span>
            </div>

            <div class="login__form-title">
                <h2>Login in</h2>
            </div>

            <mat-form-field class="login__form-item" appearance="legacy">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="email@email.com" formControlName="email">
                <mat-icon matSuffix color="primary">email</mat-icon>
                <mat-error *ngIf="f.controls.email.errors">Must have a valid e-mail</mat-error>
            </mat-form-field>

            <mat-form-field class="login__form-item" appearance="legacy">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" [type]="showPassword ? 'text' : 'password'">
                <mat-icon class="password-icon" matSuffix color="primary" (click)="toggleFieldType()">
                    {{showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                <mat-error *ngIf="f.controls.password.errors">Your password should be wrong</mat-error>
            </mat-form-field>

            <div class="login__form-item">
                <mat-checkbox color="primary" formControlName="agree">Agree to Terms and Conditions</mat-checkbox>
                <mat-error class="login__form-item-error" *ngIf="f.controls.agree.errors">You must agree with our terms and
                    conditions
                </mat-error>
            </div>

            <div class="login__form-forgot" *ngIf="!(isLoading$ | async)">
                <a mat-button color="primary" [routerLink]="['/reset-password']">I forgot my password</a>
            </div>

            <div class="login__form-actions" *ngIf="!(isLoading$ | async)">
                <a mat-stroked-button color="primary" [routerLink]="['/signup']">Sign Up</a>
                <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Log in</button>
            </div>

            <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
        </form>
    </div>
</section>