@import '../../../../../assets/scss/variables';

.newRenter{
    h5 { font-size: 1.3rem; font-weight: bold; color: $mainBg; }
    &__form{
        &_subSection{
            h6 { @extend h5; font-size: 1rem!important; }
            label { margin-bottom: 0; }
        }

        .form-group { margin-bottom: 5px;}
    }
}