<mat-card>
    <h2>Resume of Main information</h2>
    <div class="home__graficos">
        <div class="home__graficos-item">
            <h3>Total of actions</h3>
            <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                [chartType]="lineChartType">
            </canvas>
        </div>

        <div class="home__graficos-item">
            <h3>Monthly Resume</h3>
            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType">
            </canvas>
        </div>
    </div>
</mat-card>