<mat-card>
    <div class="content-header">
        <mat-card-title-group>
            <mat-card-title>List of all Lessees</mat-card-title>
        </mat-card-title-group>

        <div>
            <mat-card-subtitle>Type to filter</mat-card-subtitle>
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event.target.value)" #filter>
                <mat-icon matSuffix color="primary">search</mat-icon>
            </mat-form-field>
        </div>
    </div>
    <div class="mat-elevation-z8 lesseeData">
        <table class="lesseeData__table" mat-table [dataSource]="dataSource" matSort>
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>email</th>
                <td mat-cell *matCellDef="let element">{{element.email}}</td>
            </ng-container>

            <!-- phone Column -->
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
                <td mat-cell *matCellDef="let element">{{element.contacts[0].phone }}</td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
                <td mat-cell *matCellDef="let element">
                    <a mat-button>
                        some action
                    </a>
                    {{element.id}}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{filter.value}}"</td>
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
    </div>
</mat-card>