@import '../../../../../assets/scss/variables';

.lesseeData { position: relative; overflow: auto;
    &__table { width: 100%; 
        .mat-header-cell { background-color: $primary; color: white; text-transform: uppercase; font-size: 0.9rem; border: 1px solid $primary; }
        ::ng-deep .mat-sort-header-arrow { color:  white; } 
    }
}