@import '../../../assets/scss/variables';

.profile {
    &__info { padding: 20px; border: 1px solid $grey; border-radius: 10px;
        figure { text-align: center; 
            img { border-radius: 50%; width: 150px; height: 150px;}
            figcaption { padding-top: 10px;
                span { display: block; }
            }
        }
    }
}