<section class="signup">
    <div class="container h-100">
        <div class="row align-content-center h-100">
            <div class="signup__box col-md-6 offset-md-3">
                <div class="row">
                    <div class="col-12 text-center">
                        <a class="signup__box_logo" routerLink="/">
                            <span>iLocação</span>&nbsp;
                            <i class="fab fa-galactic-senate"></i>
                        </a>
                    </div>

                    <div class="signup__box_form col-12">
                        <div class="row pt-4">
                            <div class="col-12">
                                <h6>{{ 'SignUp Title' | translate }}</h6>
                            </div>

                            <form class="col-12" [formGroup]="signUpForm" (ngSubmit)="signUpFormOnSubmit()">
                                <div class="form-group">
                                    <label for="name">{{ 'Full Name' | translate }}:</label>
                                    <input type="text" class="form-control" id="name" formControlName="name"
                                        [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                                        placeholder="{{ 'Full Name' | translate }}">

                                    <div *ngIf="f.name.errors" class="invalid-feedback">
                                        <div *ngIf="f.name.errors.required">
                                            <span>Insira seu nome</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email">{{ 'Email' | translate }}:</label>
                                    <input type="email" class="form-control" id="email" formControlName="email"
                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                        placeholder="{{ 'Email' | translate }}">

                                    <div *ngIf="f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">
                                            <span>Insira um email válido</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="password">{{ 'Password' | translate }}:</label>
                                    <input type="password" class="form-control" id="password" formControlName="password"
                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                        placeholder="{{ 'Password' | translate }}">

                                    <div *ngIf="f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">
                                            <span>Insira uma senha</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="confirmPassword">{{ 'Repeat Password' | translate }}:</label>
                                    <input type="password" class="form-control" id="confirmPassword"
                                        formControlName="confirmPassword"
                                        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                                        placeholder="{{ 'Repeat Password' | translate }}">

                                    <div *ngIf="f.confirmPassword.errors" class="invalid-feedback">
                                        <div *ngIf="f.confirmPassword.errors.required">
                                            <span>Senha de confirmação</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="agree" formControlName="agree"
                                        [ngClass]="{ 'is-invalid': submitted && f.agree.errors }">
                                    <label class="form-check-label" for="agree">Aceito os termos e condições de
                                        uso</label>
                                </div>

                                <div class="row pt-4">
                                    <div class="col-md-6">
                                        <a class="btn btn-light w-100" [routerLink]="['/login']">Back to Login</a>
                                    </div>

                                    <div class="col-md-6">
                                        <button class="btn btn-primary w-100"
                                            type="submit">{{ 'Register' | translate }}</button>
                                    </div>

                                </div>
                            </form>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>