<section class="properties">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Detalhes do Imóvel</h2>
            </div>
            <main class="col-12">
                <ngb-tabset [destroyOnHide]="false">
                    <ngb-tab class="properties__tabItem">
                        <ng-template ngbTabTitle><i class="fas fa-home"></i>&nbsp;&nbsp;Detalhes do Imóvel
                        </ng-template>
                        <ng-template class="properties__tabItem_content" ngbTabContent>
                            <div class="newPropertie row">
                                <div class="col-12 pt-3">
                                    <div *ngIf="message" class="alert alert-success alert-dismissible fade show"
                                        role="alert">
                                        {{message}}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                                            (click)="resetMessage()">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <p>Formulário para atualizar dados do imóvel</p>
                                </div>

                                <form class="newPropertie__form col-12" [formGroup]="newPropertieForm"
                                    (ngSubmit)="newPropertieFormOnSubmit()">
                                    <div class="row">
                                        <div class="newPropertie__form_subSection col-md-6 pt-2">
                                            <h6 class="mb-3">Dados do Imóvel</h6>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-check form-check-inline">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="radio"
                                                                name="propertie" value="apartment" checked>
                                                            Apartamento
                                                        </label>
                                                    </div>

                                                    <div class="form-check form-check-inline">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="radio"
                                                                name="propertie" value="house">
                                                            Casa
                                                        </label>
                                                    </div>

                                                    <div class="form-check form-check-inline">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="radio"
                                                                name="propertie" value="commercial">
                                                            Comercial
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="rent">Valor do alugel</label>
                                                        <input type="text" class="form-control" id="rent"
                                                            formControlName="rent" currencyMask
                                                            [ngClass]="{ 'is-invalid': submitted && f['rent']?.errors }"
                                                            placeholder="R$ 000,00">

                                                        <div *ngIf="f['rent']?.invalid" class="invalid-feedback">
                                                            <span>Insira o valor do alugel</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="iptu">Valor do IPTU</label>
                                                        <input type="text" class="form-control" id="iptu"
                                                            formControlName="iptu" currencyMask
                                                            [ngClass]="{ 'is-invalid': submitted && f['iptu']?.errors }"
                                                            placeholder="R$ 000,00">

                                                        <div *ngIf="f['iptu']?.invalid" class="invalid-feedback">
                                                            <span>Insira o valor do IPTU</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="condominium">Valor do Condomínio</label>
                                                        <input type="text" class="form-control" id="condominium"
                                                            formControlName="condominium"
                                                            [ngClass]="{ 'is-invalid': submitted && f['condominium']?.errors }"
                                                            currencyMask placeholder="R$ 000,00">

                                                        <div *ngIf="f['condominium']?.invalid" class="invalid-feedback">
                                                            <span>Insira o valor do Condomínio</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="reference">Referência</label>
                                                <input type="text" class="form-control" id="reference"
                                                    formControlName="reference"
                                                    [ngClass]="{ 'is-invalid': submitted && f['reference']?.errors }"
                                                    placeholder="Insira o Referência para o imóvel">

                                                <div *ngIf="f['reference']?.invalid" class="invalid-feedback">
                                                    <span>Insira um nome de Referência para o imóvel</span>
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <label for="renter">Propietário *</label>
                                                <input type="text" class="form-control" id="renter"
                                                    formControlName="renter"
                                                    [ngClass]="{ 'is-invalid': submitted && f['renter']?.errors }"
                                                    placeholder="Insira o Propietário">

                                                <div *ngIf="f['renter']?.invalid" class="invalid-feedback">
                                                    <span>Insira o nome do Proprietário do imóvel</span>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-check form-check-inline">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="radio" name="status"
                                                                value="available" checked>
                                                            Disponível
                                                        </label>
                                                    </div>

                                                    <div class="form-check form-check-inline">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="radio" name="status"
                                                                value="unavailable">
                                                            Alugado
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div formGroupName="address"
                                            class="newPropertie__form_subSection col-md-6 pt-2">
                                            <h6 class="mb-3">Endereço</h6>
                                            <div class="row">
                                                <div class="form-group col-8">
                                                    <label for="street">Endereço</label>
                                                    <input type="text" class="form-control" id="street"
                                                        formControlName="street"
                                                        [ngClass]="{ 'is-invalid': submitted && address.get('street')?.errors }"
                                                        placeholder="Endereço">

                                                    <div *ngIf=" address.get('street')?.invalid"
                                                        class="invalid-feedback">
                                                        <span>Insira o endereço do Inquilino</span>
                                                    </div>
                                                </div>
                                                <div class="form-group col-4">
                                                    <label for="number">Numero</label>
                                                    <input type="number" class="form-control" id="number"
                                                        formControlName="number"
                                                        [ngClass]="{ 'is-invalid': submitted && address.get('number')?.errors }"
                                                        placeholder="Numero">

                                                    <div *ngIf="address.get('number')?.invalid"
                                                        class="invalid-feedback">
                                                        <span>Insira o número</span>
                                                    </div>

                                                </div>
                                                <div class="form-group col-8">
                                                    <label for="neighborhood">Bairro *</label>
                                                    <input type="text" class="form-control" id="neighborhood"
                                                        formControlName="neighborhood" placeholder="Endereço">
                                                </div>
                                                <div class="form-group col-4">
                                                    <label for="zipCode">CEP *</label>
                                                    <input type="text" class="form-control" id="zipCode"
                                                        formControlName="zipCode" placeholder="CEP" mask="00000-000">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="city">Cidade</label>
                                                <input type="text" class="form-control" id="city" formControlName="city"
                                                    [ngClass]="{ 'is-invalid': submitted && address.get('city')?.errors }"
                                                    placeholder="Cidade">


                                                <div *ngIf="address.get('city')?.invalid" class="invalid-feedback">
                                                    <span>Insira o Cidade</span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="uf">Estado</label>
                                                <select class="form-control" id="uf" formControlName="uf"
                                                    [ngClass]="{ 'is-invalid': submitted && address.get('uf')?.errors }">
                                                    <option value="" disabled selected>Selecione o Estado</option>

                                                    <option *ngFor="let estado of estados" [value]="estado.uf">
                                                        {{ estado.name }}</option>
                                                </select>
                                                <div *ngIf="address.get('uf')?.invalid" class="invalid-feedback">
                                                    <span>Selecione o estado</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-3 justify-content-end">
                                        <div class="pr-3">
                                            <button class="btn btn-primary" type="submit"><i
                                                    class="fas fa-plus"></i>&nbsp;&nbsp;ATUALIZAR
                                                IMÓVEL</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </ng-template>
                    </ngb-tab>

                </ngb-tabset>
            </main>

        </div>
    </div>
</section>