<section class="login">
    <div class="container h-100">
        <div class="row align-content-center h-100">
            <div class="login__box col-md-6 offset-md-3">
                <div class="row">
                    <div class="col-12 text-center">
                        <a class="login__box_logo" routerLink="/">
                            <span>iLocação</span>&nbsp;
                            <i class="fab fa-galactic-senate"></i>
                        </a>
                    </div>

                    <div class="login__box_form col-12">
                        <div class="row pt-4">
                            <div class="col-12">
                                <h6>{{ 'Login Title' | translate }}</h6>
                            </div>

                            <form class="col-12" [formGroup]="loginForm" (ngSubmit)="loginFormOnSubmit()">
                                <div class="form-group">
                                    <label for="email">{{ 'Email' | translate }}:</label>
                                    <input type="email" class="form-control" id="email" formControlName="email"
                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                        placeholder="{{ 'Email' | translate }}">
                              
                                    <div *ngIf="f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">
                                            <span>Insira um email válido</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="password">{{ 'Password' | translate }}:</label>
                                    <input type="password" class="form-control" id="password" formControlName="password"
                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                        placeholder="{{ 'Password' | translate }}">

                                    <div *ngIf="f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">
                                            <span>Insira uma senha</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row pt-4">
                                    <div class="col-md-6">
                                        <a class="btn btn-light w-100" [routerLink]="['/signup']">Register</a>
                                    </div>

                                    <div class="col-md-6">
                                        <button class="btn btn-primary w-100"
                                            type="submit">Loggin</button>
                                    </div>

                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>