@import '../../../assets/scss/variables';
@import url('https://fonts.googleapis.com/css?family=Sen:800&display=swap');

.login{ height: 100vh; background-color: $lightBg;
    &__box{ padding: 50px; border: 1px solid #efeff5; background-color: white; border-radius: 10px;
        &_logo{ padding: 8px 15px; background-color: $primary; color: white; border-radius: 10px; text-decoration: none; font-size: 1.5rem;
            span { font-family: 'Sen', sans-serif; }
        }

        &_form { font-size: 0.9rem;color: $text;
            h6 { font-size: 1.3rem; font-weight: bold; }  
            label { margin-bottom: 0; }
            .btn-light { color:$grey; }          
        }
    }
}
