@import '../src/assets/scss/variables';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

html, body { height: 100%; }
body { margin: 0; font-family: 'Franklin Gothic Medium', Arial, sans-serif; }

@media screen and (max-width: 992px) {
    .push-right {
        .sidebar { left: 235px !important;  }
    }
}   